header{
    .information{
        display: flex;
        background-color: $info-txt-color;
        .info-text{
            margin-right:auto;
            margin-left:10px;
            a{
                padding:10px;
                text-decoration: none;
                color:black;
                &:hover{
                    color: $white-color;
                }
            }
        }
        .info-icons{
            margin-right: 10px;
            margin-left: auto;
            .fa-facebook-f{
                color:$white-color;
                &:hover{
                    color:$facebook-color;
                }
            }
            .fa-instagram{
                color:$white-color;
                &:hover{
                    color:$instagram-color;
                }
            }
            .fa-vk{
                color:$white-color;
                &:hover{
                    color:$vk-color;
                }
            }
        }
    }
}

//CAROUSEL START
#carousel{
    .carousel{
        .carousel-inner{
            height: 35rem;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }
    }
}
//CAROUSEL END

//TITLE SECTION START
#category{
    .title{
        margin-top: 20px;
        padding: 10px;
        h3{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 14%;
            font-weight: 500;
        }
    }
}
//TITLE SECTION END

.card-margin{
    margin-top: 10px;
}

.footer{
    margin-top: 10px;
    background-color: $gray-color;
    height: 200px;
}
